body {
  width: 100%;
  height: 100%;
  background-color: #EEE8AA;

}

header {
  font-size: 70px;
  text-align: center;
  margin: 30px;
  color: #8B0000;
  font-weight: bold;
}

#currentPlayer {
  font-size: 40px;
  color: #8B0000;
  text-align: center;
  margin: 20px;
}

.board {
  width: 1050px;
  height: 270px;
  border: 4px solid #8B0000;
  margin: auto;
  text-align: center;
}

.pod {
  position: relative;
  border: 3px solid #8B0000;
  border-radius: 50%;
  border-spacing: 20px;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.mancala {
  border: 3px solid #8B0000;
  border-radius: 30px;
  position: relative;
  display: inline-block;
  height: 220px;
  width: 100px;
  margin: 15px 10px;
}

#mancala2 {

  float: left;
}

#mancala1 {
  float: right;
}

#divRows {
  margin: auto;
}

