body {
  width: 100%;
  height: 100%;
  background-color: #EEE8AA;
}

header {
  font-family: 'Cinzel', serif;
  font-size: 70px;
  text-align: center;
  margin: 30px;
  color: #8B0000;
  font-weight: bold;
}

.player {
  display: relative;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  color: #8B0000;
  text-align: center;
  margin: 20px;
}

#winner {
  font-family: 'Cinzel', serif;
  font-size: 40px;
  color: #8B0000;
  text-align: center;
  margin: 20px;
}

.board {
  width: 1050px;
  height: 260px;
  border: 8px solid #8B0000;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  border-radius: 30px
}

#divRows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pod {
  font-family: 'Cinzel', serif;
  position: relative;
  border: 3px solid #8B0000;
  border-radius: 50%;
  border-spacing: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 10px;
  color: #8B0000;
  font-size: 50px;
}

.pod:hover, #buttonDiv:hover {
  background-color: #8B0000;
  color: #EEE8AA;
  cursor: pointer;

}

.mancala {
  font-family: 'Cinzel', serif;
  border: 3px solid #8B0000;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 100px;
  margin: 15px 10px;
  color: #8B0000;
  font-size: 50px;
}

#mancala2 {

  float: left;
}

#mancala1 {
  float: right;
}

#divRows {
  margin: auto;
}

#buttonDiv {
  font-family: 'Cinzel', serif;
  font-size: 30px;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 20px auto;
  background-color: #8B0000;
  color: #EEE8AA;
  cursor: pointer;

}

#signature {
  color: #EEE8AA;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

#signature:hover {
  color: #8B0000;
}

